body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fdf8f5;
}

h1 {
  display: inline-block;
  width: 100%;
  font-family: Papyrus, fantasy;
  font-size: 40px;
  text-align: center;
  margin-top: 32px;
}

.container {
  margin: 60px auto;
  width: 1600px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:first-of-type {
  background-color: lightskyblue;
}

tr + tr:hover {
  background-color: lightgray;
  transition: 0.3s ease;
}

form {
  display: inline-block;
}

form > button {
  background-color: #f5f5f5;
  padding: 2px 5px;
  border-radius: 5px;
}

form > button:hover {
  cursor: pointer;
  background-color: lightskyblue;
  transition: 0.3s ease;
}

th,
td {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 33%;
}

.back {
  margin-bottom: 10px;
  padding: 2px 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.back:hover {
  background-color: lightskyblue;
  transition: 0.3s ease;
  cursor: pointer;
}

.back > a {
  text-decoration: none;
  color: black;
}

.upload-form {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

h5 {
  margin-top: 24px;
}

.new-dir {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.new-dir > input {
  height: 24px;
}

h4 {
  text-align: center;
  margin-bottom: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.login-form {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.login-form > input {
  height: 25px;
}

.login-btn {
  margin-top: 10px;
}

.logout-line {
  display: inline-block;
  margin-top: 20px;
}

@media (max-width: 1620px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1220px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 820px) {
  .container {
    width: 420px;
  }
}
