body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 32px;
}

.container {
  margin: 60px auto;
  width: 1600px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:first-of-type {
  background-color: lightskyblue;
}

tr + tr:hover {
  background-color: lightgray;
  transition: 0.3s ease;
}

th,
td {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 33%;
}

.back {
  margin-bottom: 10px;
  padding: 2px 5px;
}
